.navbar-noStyle {
	border-color: transparent;
	background-color: transparent;
	background-image: none;
	box-shadow: none;
    border-radius: 0px;
    border-width: 0px;
}
/*-----------------------------------state hover / active-----------------------------------*/
.ui-menuitem-active {
	background-color:transparent !important;
}
.ui-menu.ui-widget li > .ui-menuitem-link.ui-state-hover {
	background-color: transparent;
	background-image: none;
}
.ui-button.ui-state-hover {
	background-color: #eee;
}
/*-----------------------------------end state hover-----------------------------------*/
.navbar-default .navbar-nav > li > a {
	color: #DF8798;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #DF8798;
	background-color: #eee;
}
.navbar .fa {
	color:#DF8798;
	font-size: 26px;
}
.pTop18 {
	width:50px;
}
.navbar-header  .navbar-brand {
    padding-left: 25px;
	height: auto;
	font-size: 24px;
	font-weight: bold;
    color: #DF8798 !important;
}
.lang li a{
	padding-right: 5px;
    padding-left: 5px;
}
.floatL {
	padding-left: 25px;
    padding-right: 25px;
}
.floatL li{
	float:left;
}
.floatL li a{
	 padding-top: 0px;
	 padding-bottom: 0px;
}
.userName {
	list-style-type: none;
}
.userName li{
	float:none;
	line-height: 1;
    padding-top: 5px;
}
.userName li a{
	 padding-top: 0px;
	 padding-bottom: 0px;
	 text-decoration: none;
	 color:#DF8798;
	 font-weight: bold;
}
.inputSwitch {
    padding: 0px;
}
.inputSwitch .ui-inputswitch-off,
.inputSwitch .ui-inputswitch-on,
.inputSwitch .ui-inputswitch-handle   {
	height: 32px;
    padding-top: 6px;
}
.inputnline .ui-autocomplete-multiple-container .ui-autocomplete-input-token input {
	width: 145px;
}
.autocomplete100 {
	display: table;
    width: 100%;
    padding-right: 36px;
}
.autocomplete100 .ui-autocomplete-multiple-container {
    display: table-cell;
    width: auto;
}
.autocomplete100 .ui-autocomplete-dropdown {
	display: table-cell;
    width: 36px;
    top: 0;
}

.ui-autocomplete-panel {
	width: auto !important;
}

.tooth-info-cell {
	position: relative;
}

.tooth-info-top-index-number {
    left: 24px;
    position: absolute;
    top: 121px;
    color: black;
}

.tooth-info-bottom-index-number {
    left: 24px;
    position: absolute;
    color: black;
    top: 11px;
}
.ui-widget-header {
	border: none;
    background: transparent;
}

.ui-datatable .ui-datatable-footer {
	text-align: right;
}	

.ui-datatable .ui-datatable-header {
    text-align: left;
    font-size: 1.4em;
}

.ui-datatable table {
	table-layout: auto;
}

.ui-datatable th, .ui-datatable td {
	width: auto;
}

.ui-datatable th.index-column, .ui-datatable td.index-column {
	width: 1%;
    white-space: nowrap;
}

.ui-dialog .ui-dialog-footer {
	text-align:  right;
}