.logo {
	background-image: url("#{resource['img:small1.jpg']}");
	background-color: #f8f8f8;
}
.navbar {
	height:7em;
}
.ui-menu.ui-menubar {
	height:7em;
	background-color: #f8f8f8;/*#eee*/
	background-image: none;
	border-width:0px;
	border-radius:0px;
}
.navbar-default {
	border-color: transparent;
	background-color: #f8f8f8;
	background-image: none;
	box-shadow: none;
}
.navbar {
    border-radius: 0px;
    border-width: 0px;
}
.nav ul li:last-child {
	float: right;
}

.ui-state-default,
 .ui-widget-content .ui-state-default,
 .ui-widget-header .ui-state-default {
	background-color: #f8f8f8;
	background-image: none;
	background-image: none; 
	padding:36px 35px 35px;
	border: 0px;
    box-shadow: none;
}

.ui-menuitem-active {
	background-color:transparent !important;
}
/*-----------------------------------state hover-----------------------------------*/
.ui-menu.ui-widget li > .ui-menuitem-link.ui-state-hover {
	background-color: transparent;
	background-image: none;
}
.ui-button.ui-state-hover {
	background-color: #eee;
}
/*-----------------------------------end state hover-----------------------------------*/
.ui-button-text-only .ui-button-text {
	padding:0px;
}

.logoTitle a,
.logoTitle h2 {
	display: inline-block !important;
}

.logoTitle h2 {
	margin: 0px;
    vertical-align: middle;
    padding-top: 4px;
    color: #c2185b;
}
.ui-corner-all {
	border-radius: 2px;
}

/*-----------------------------------@media---------------------------------------*/
@media(min-width: 768px){
	.navbar-nav > li > a {
	    padding: 40px 3px 37px 3px;
	}
}
/*-----------------------------------@media---------------------------------------*/
.wrapper {
	height:7em;
	background-color: #f8f8f8;
	
}
 .navbar-default .navbar-nav > li > a {
	color: #c2185b;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #c2185b;
	background-color: #eee;
}

.fa-user:before, .fa-users:before, .fa-table:before, .fa-medkit:before {
	color:#c2185b;
}